* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

body.main-page {
    width: 100%;
    height: 100%;
    --color: rgba(114, 114, 114, 0.3);
    background-color: #191a1a;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
    linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
}

body.lol-article {
    background-image: url('../images/lolbackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body.dst-article {
    background-image: url('../images/dstbackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body.ac-article {
    background-image: url('../images/ac1background.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body.isaac-article {
    background-image: url('../images/tboibackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body.csgo-article {
    background-image: url('../images/csgobackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body.cyberpunk-article {
    background-image: url('../images/cyberpunkbackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body.fortnite-article {
    background-image: url('../images/fortnitebackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body.hearthstone-article {
    background-image: url('../images/hearhtstonebackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body.minecraft-article {
    background-image: url('../images/minecraftbackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body.mtga-article {
    background-image: url('../images/mtgbackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body.overwatch-article {
    background-image: url('../images/overwatchbackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body.sims-article {
    background-image: url('../images/sims4background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body.valorant-article {
    background-image: url('../images/valorantbackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body.witcher-article {
    background-image: url('../images/witcher3background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body.wow-article {
    background-image: url('../images/wowbackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Header at the top */
header {
    flex-shrink: 0;
}

/* Main content area that grows */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Topbar */
.topbar {
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between; /* <- distributes space between items */
    padding: 0 30px; /* optional: adds spacing on left/right edges */
    z-index: 1000;
}

/* Main content */
.content {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 20px;
}

/* Footer */
.footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    color: #555;
    flex-shrink: 0;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
}

.sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

/* .switch:hover */.sun svg {
                       animation: rotate 15s linear infinite;
                   }

@keyframes rotate {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* .switch:hover */.moon svg {
                       animation: tilt 5s linear infinite;
                   }

@keyframes tilt {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.input:checked + .slider {
    background-color: #183153;
}

.input:focus + .slider {
    box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
    transform: translateX(30px);
}

.card {
    width: 195px;
    height: 285px;
    background: #313131;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.2s ease-in-out;
    overflow: hidden;
    position: relative;
}

.img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.2s ease-in-out;
    z-index: 1;
    top: 0;
    left: 0;
}

.textBox {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.2s ease-in-out;
    z-index: 2;
}

.textBox > .text {
    font-weight: bold;
}

.textBox > .head {
    font-size: 20px;
}

.textBox > .price {
    font-size: 17px;
}

.textBox > span {
    font-size: 12px;
    color: #ffffff;
}

.card:hover > .textBox {
    opacity: 1;
}

.card:hover .img {
    height: 100%;
    filter: blur(7px);
    animation: anim 3s infinite;
}

@keyframes anim {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.card:hover {
    transform: scale(1.04) rotate(-1deg);
}

.favorite-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorite-checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.star-icon {
    width: 30px;
    height: 30px;
    fill: #ffffff;
    transition: all 0.3s ease;
    opacity: 0; /* hidden by default */
    pointer-events: none;
}

.card:hover .star-icon {
    opacity: 1;
    pointer-events: auto;
}

/* Show star if checked */
.favorite-checkbox:checked + .star-icon {
    fill: #ffeb49;
    opacity: 1;
    pointer-events: auto;
}

/* Optional: scale on hover */
.card:hover .star-icon:hover {
    transform: scale(1.1);
}

.game-logo {
    width: 140px; /* adjust size as needed */
    margin-bottom: 5px;
    transition: transform 0.3s ease;
}

.card:hover .game-logo {
    transform: scale(1.05);
}

/* From Uiverse.io by satyamchaudharydev */
/* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

/* button styling */
.button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #00cce6;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial", serif;
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}

#article {
    display: block;
    clear: both; /* helps clear any floats if used */
    max-width: 800px;
    margin: 40px auto;
    padding: 20px 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}

#article h1 {
    font-size: 2.8rem;
    margin-bottom: 15px;
    color: #1e90ff; /* DodgerBlue */
    text-align: center;
}

#article h2 {
    font-size: 1.8rem;
    margin-top: 30px;
    margin-bottom: 12px;
    border-bottom: 2px solid #1e90ff;
    padding-bottom: 6px;
    color: #1e90ff;
}

#article p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 16px;
}

#article ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

#article ul li {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 8px;
}

#article strong {
    color: #111;
}

#article em {
    font-style: italic;
    color: #555;
}

#article img {
    display: block;          /* makes the image a block element */
    max-width: 500px;        /* limit max width */
    width: 100%;             /* scale down if container is smaller */
    height: auto;            /* maintain aspect ratio */
    margin: 0 auto 20px auto; /* center horizontally and add 20px bottom margin */
    border-radius: 8px;      /* optional: slightly rounded corners */
}

/* From Uiverse.io by SelfMadeSystem */
/*
More comprehensive version at shenanigans.shoghisimon.ca/collection/css-rain-bg/
 */

.container::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    backdrop-filter: blur(1em) brightness(6);
    background-image: radial-gradient(
            circle at 50% 50%,
            #0000 0,
            #0000 2px,
            hsl(0 0 4%) 2px
    );
    background-size: 8px 8px;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    --c: #09f;
    background-color: #000;
    background-image: radial-gradient(4px 100px at 0px 235px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 235px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 117.5px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 252px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 252px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 126px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 150px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 150px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 75px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 253px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 253px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 126.5px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 204px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 204px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 102px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 134px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 134px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 67px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 179px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 179px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 89.5px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 299px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 299px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 149.5px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 215px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 215px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 107.5px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 281px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 281px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 140.5px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 158px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 158px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 79px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 210px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 210px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 105px, var(--c) 100%, #0000 150%);
    background-size:
            300px 235px,
            300px 235px,
            300px 235px,
            300px 252px,
            300px 252px,
            300px 252px,
            300px 150px,
            300px 150px,
            300px 150px,
            300px 253px,
            300px 253px,
            300px 253px,
            300px 204px,
            300px 204px,
            300px 204px,
            300px 134px,
            300px 134px,
            300px 134px,
            300px 179px,
            300px 179px,
            300px 179px,
            300px 299px,
            300px 299px,
            300px 299px,
            300px 215px,
            300px 215px,
            300px 215px,
            300px 281px,
            300px 281px,
            300px 281px,
            300px 158px,
            300px 158px,
            300px 158px,
            300px 210px,
            300px 210px,
            300px 210px;
    animation: hi 150s linear infinite;
}

@keyframes hi {
    0% {
        background-position:
                0px 220px,
                3px 220px,
                151.5px 337.5px,
                25px 24px,
                28px 24px,
                176.5px 150px,
                50px 16px,
                53px 16px,
                201.5px 91px,
                75px 224px,
                78px 224px,
                226.5px 350.5px,
                100px 19px,
                103px 19px,
                251.5px 121px,
                125px 120px,
                128px 120px,
                276.5px 187px,
                150px 31px,
                153px 31px,
                301.5px 120.5px,
                175px 235px,
                178px 235px,
                326.5px 384.5px,
                200px 121px,
                203px 121px,
                351.5px 228.5px,
                225px 224px,
                228px 224px,
                376.5px 364.5px,
                250px 26px,
                253px 26px,
                401.5px 105px,
                275px 75px,
                278px 75px,
                426.5px 180px;
    }

    to {
        background-position:
                0px 6800px,
                3px 6800px,
                151.5px 6917.5px,
                25px 13632px,
                28px 13632px,
                176.5px 13758px,
                50px 5416px,
                53px 5416px,
                201.5px 5491px,
                75px 17175px,
                78px 17175px,
                226.5px 17301.5px,
                100px 5119px,
                103px 5119px,
                251.5px 5221px,
                125px 8428px,
                128px 8428px,
                276.5px 8495px,
                150px 9876px,
                153px 9876px,
                301.5px 9965.5px,
                175px 13391px,
                178px 13391px,
                326.5px 13540.5px,
                200px 14741px,
                203px 14741px,
                351.5px 14848.5px,
                225px 18770px,
                228px 18770px,
                376.5px 18910.5px,
                250px 5082px,
                253px 5082px,
                401.5px 5161px,
                275px 6375px,
                278px 6375px,
                426.5px 6480px;
    }
}

.autocomplete-list {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    z-index: 10;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.autocomplete-item {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-item:hover {
    background-color: #f0f0f0;
}
